<.header>
  Listing Events
</.header>
<ul id="events" phx-update="stream">
  <li :for={{dom_id, event} <- @streams.events} id={dom_id}>
    <%= event.serviceName %>, <%= event.environment %>, <%= event.timestamp %>
  </li>
</ul>

<ul id="deployment_frequency" phx-update="stream">
  <li :for={{dom_id, %{group: group, count: count}} <- @streams.deployment_frequency} id={dom_id}>
    Group: <%= group %>, <%= count %>
  </li>
</ul>
